{{> header}}
<section id="registerView">
<div class="background-spotify">
    <div class="song-container">
        <h1>Register</h1>
        {{> registerForm}}
        <h4 class="mt-3 text-white">Already have an account? <a href="#/login" class="add-link">Login</a></h4>
    </div>
</div>
</section>>
{{> footer}}

    
  